nav {
  position:fixed;
  background-color: rgb(224, 224, 235);
  top: 0;
  left: 0;
}
body {
  background:rgb(255, 255, 204);
  margin: 50px;
}
ul{
  list-style-type: none;
  text-decoration: none;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav il {
  display: inline-block;
  width 75px;
  border: 1px solid red;
}
