/* Default Layout (Mobile) */

body{
  font-family: 'Josefin Sans' ;
  padding-top: 2em;
  margin: 0;
}
nav {
  background-color: #BFBDBA;
  position: fixed;
  top: 0em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;



}
nav a{
  text-decoration: none;
    padding: 1em;
}
nav a:visited {
  color: black;
}
nav a:hover {
  color:#E6E3DF
}
h1 {
  font-family: 'BioRhyme Expanded';
  border-bottom: 20%;
  border-bottom-color: black;
  border-bottom-style: solid;
  padding-top: 1.5em;
}
h2 {
  border-bottom: 20%;
  border-bottom-color: black;
  border-bottom-style: solid;
  margin-right: 1em;

}
#dog1 {
  width: 100%;
}
#dog2 {
  width: 100%;
}
#dog3 {
  width: 100%;
}
#dog4 {
  width: 100%;
}

@media all and (min-width: 30em){
  h1 { color: blue; padding-top: 0;}
  nav {display: inline;padding-top: 1em; padding-bottom: 1em;}

}
@media all and (min-width: 50em){
  h1 { color: red; padding-bottom: .1em; }
  nav {  padding-top: 1em; padding-bottom: 1em;}
  .main {display: grid; grid-template-columns: 1fr, 1fr;}

}
