@charset "utf-8";
/* CSS Document */
h1 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 35pt;
	margin-left: 35px;
	padding: 0px;
}

nav {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, 'sans-serif';
	font-size: 15pt;
	list-style-type: none;
	border-bottom-style: solid;
	border-width: 5px;
	border-color: gold;
	margin-right: 100px;
	margin-left: 60px;
}

li {
	display: inline;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
}

body {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, 'sans-serif';
	font-size: 12pt;

}

img {
	float: right;
	margin-right: 150px;
}
p {
	margin-left: 100px;
	margin-right: 250px;
}
footer {
	position:absolute;
	bottom: 0;
	float: none;
	padding-top: 5px;
	padding-left:none;
	padding-right: 5px;
	margin: 2px;
	align-content:center;
}

.copyright {
	float: right;
	margin: 0px;
	align-content: center;
}
