body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

li {
  display: inline;
  color: white;
  padding-right: 10px;
  text-decoration: none;
}

nav {
  border-bottom: 10px;
  border-style: solid;
  padding-bottom: 5px;
}

a:visited {
  color: white;
}

a:hover {
  color: #93c6ee;
}
