body {
  background-color: black;
  color: white;
   font-family: sans-serif;
}
li {
   display: inline;
   color: white;
   border-bottom: 10px;
 }
 nav {
   padding-right: 10px;
 }
a:visited {
  color: white;
}
